@"
# Python
__pycache__/https://github.com/swijewardane/mushra_source_separation_research/blob/main/.gitignore
*.py[cod]
*$py.class
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/

# OS
.DS_Store
Thumbs.db
"@ | Set-Content .gitignore















